@model IEnumerable<Final_Project.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipped_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shipped_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Price)
            </td>
            
        </tr>
}
    </tbody>
</table>
